#dashboard {
    height: calc(100vh - 5vh);
    max-width: 100vw;
    background: slategray;
    box-sizing: border-box;
    background-image: url('https://66.media.tumblr.com/56690d9ab11d4e4ca839582e1e423c90/tumblr_oyhfe8AHi01w6utruo1_1280.jpg');
    background-size: contain;
    background-position: center;
    //background-repeat: no-repeat;

    #menu-div{
        min-width: 100%;
        height: 9vh;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        #menu-option {
            min-width: 33.3%;
            height: 9vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            font-size: 200%;
            box-sizing: border-box;

            h6 {
                width: 77%;
                margin: 0;
                //max-height: calc(8vh - 10px);
                //border: 1px solid white;
                color: whitesmoke;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }
        }
    }
    
    #character-cards-div{
        max-width: 100%;
        height: 11vh;
        display: flex;
        flex-direction: column;
        //flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.25);
        border: groove rgba(37, 37, 37, 0.5);
        box-sizing: border-box;
        
        #char-card {
            width: 100%;
            height: 10vh;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            color: whitesmoke;
            background-color: rgba(7, 7, 7, 0.25);
            box-sizing: border-box;
            //background-color: rgb(2,2,4);

            h6 {
                width: 77%;
                margin: 0;
                //max-height: calc(8vh - 10px);
                //border: 1px solid white;
                color: whitesmoke;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }

            img {
                height: 10vh;
                width: 10vh;
                margin: auto 2px;
            }

            #race-class-div {
                min-width: 35vw;
                border: 1px solid white;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-left: 10px;
                font-size: 200%;
            }
            #stats-div {
                min-width: 25vw;
                border: 1px solid white;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                margin-left: 10px;
            }
        }
    }
    
    #title-div {
        width: 33vw;
        height: 50vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid black;
        h3 {
            border: 1px solid black;
            height: 4vh;
            width: 16vw;
        }
    }

    #equip-div{ 
        height: 60vh;
        width: 100%;
        box-sizing: border-box;
        //border: 1px solid black;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        h3{
            width: 16vw;
            height: 5vh;
            border: 1px solid white;
        }

        #weapon-div{
            width: 50vw;
            min-height: calc(60vh - 1px);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            //border: 1px solid black;
            box-sizing: border-box;
            
            button {
                border: 2px groove rgba(66, 9, 9, 0.89);
                height: 60px;
                width: 95px;
                background-color: rgba(0, 0, 0, 0.25);
                color: rgb(97, 97, 97);
                font-size: 100%;
                box-sizing: border-box;
            }
        }

        #armor-div{
            width: 50vw;
            min-height: calc(60vh - 1px);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            //border: 1px solid black;
            box-sizing: border-box;
        }

        #armor-box {
            height: 80px;
            width: 80px;
            border: 2px solid rgb(82, 11, 11);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 150%;
            background-size: contain;
            background-position: center;

            #image-box {
                height: 69px;
                width: 69px;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        #weapon-box {
            height: 95px;
            width: 95px;
            border: 2px solid rgb(82, 11, 11);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 150%;
            background-size: contain;
            background-position: center;
            box-sizing: border-box;

            #image-box {
                height: 89px;
                width: 89px;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}