#login {
    background-image: url('https://i.imgur.com/vIlw1gw.jpg');
    background-size: contain;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;

    h2 {
        margin: 5px;
    }

    h3 {
        margin: 5px;
    }

    input {
        text-align: center;
        background: darkslategray;
        color: whitesmoke;
        border: none;
        height: 20px;
    }

    #login-box {
        background: rgba(20, 20, 20, 0.8);
        border: 1px solid rgb(145,0,0);
        height: 40vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 5px;
    }

    button {
        height: 3vh;
        width: 10vw;
        text-align: center;
        text-transform: uppercase;
        background: rgb(145, 0, 0);
        color: whitesmoke;
        border: none;
    }
}