#login {
  background-image: url("https://i.imgur.com/vIlw1gw.jpg");
  background-size: contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
#login h2 {
  margin: 5px;
}
#login h3 {
  margin: 5px;
}
#login input {
  text-align: center;
  background: darkslategray;
  color: whitesmoke;
  border: none;
  height: 20px;
}
#login #login-box {
  background: rgba(20, 20, 20, 0.8);
  border: 1px solid #910000;
  min-height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}
#login button {
  height: 3vh;
  width: 10vw;
  text-align: center;
  text-transform: uppercase;
  background: #910000;
  color: whitesmoke;
  border: none;
  margin-bottom: 10px;
}

#register {
  background-image: url("https://i.imgur.com/vIlw1gw.jpg");
  background-size: contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
#register section {
  background: red;
}

#dashboard {
  height: calc(100vh - 5vh);
  max-width: 100vw;
  background: slategray;
  box-sizing: border-box;
  background-image: url("https://66.media.tumblr.com/56690d9ab11d4e4ca839582e1e423c90/tumblr_oyhfe8AHi01w6utruo1_1280.jpg");
  background-size: contain;
  background-position: center;
}
#dashboard #menu-div {
  min-width: 100%;
  height: 9vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#dashboard #menu-div #menu-option {
  min-width: 33.3%;
  height: 9vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 200%;
  box-sizing: border-box;
}
#dashboard #menu-div #menu-option h6 {
  width: 77%;
  margin: 0;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#dashboard #character-cards-div {
  max-width: 100%;
  height: 11vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  border: groove rgba(37, 37, 37, 0.5);
  box-sizing: border-box;
}
#dashboard #character-cards-div #char-card {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: whitesmoke;
  background-color: rgba(7, 7, 7, 0.25);
  box-sizing: border-box;
}
#dashboard #character-cards-div #char-card h6 {
  width: 77%;
  margin: 0;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#dashboard #character-cards-div #char-card img {
  height: 10vh;
  width: 10vh;
  margin: auto 2px;
}
#dashboard #character-cards-div #char-card #race-class-div {
  min-width: 35vw;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  font-size: 200%;
}
#dashboard #character-cards-div #char-card #stats-div {
  min-width: 25vw;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10px;
}
#dashboard #title-div {
  width: 33vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}
#dashboard #title-div h3 {
  border: 1px solid black;
  height: 4vh;
  width: 16vw;
}
#dashboard #equip-div {
  height: 60vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#dashboard #equip-div h3 {
  width: 16vw;
  height: 5vh;
  border: 1px solid white;
}
#dashboard #equip-div #weapon-div {
  width: 50vw;
  min-height: calc(60vh - 1px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}
#dashboard #equip-div #weapon-div button {
  border: 2px groove rgba(66, 9, 9, 0.89);
  height: 60px;
  width: 95px;
  background-color: rgba(0, 0, 0, 0.25);
  color: #616161;
  font-size: 100%;
  box-sizing: border-box;
}
#dashboard #equip-div #armor-div {
  width: 50vw;
  min-height: calc(60vh - 1px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}
#dashboard #equip-div #armor-box {
  height: 80px;
  width: 80px;
  border: 2px solid #520b0b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 150%;
  background-size: contain;
  background-position: center;
}
#dashboard #equip-div #armor-box #image-box {
  height: 69px;
  width: 69px;
}
#dashboard #equip-div #armor-box #image-box img {
  height: 100%;
  width: 100%;
}
#dashboard #equip-div #weapon-box {
  height: 95px;
  width: 95px;
  border: 2px solid #520b0b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 150%;
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
}
#dashboard #equip-div #weapon-box #image-box {
  height: 89px;
  width: 89px;
}
#dashboard #equip-div #weapon-box #image-box img {
  height: 100%;
  width: 100%;
}

#Stats {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#Stats #kd-div {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 1px solid black;
  align-items: center;
}
#Stats #kd-div #kd-eff {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#Stats #kd-div #win-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#Stats #search-div {
  width: 100%;
  min-height: 15vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Stats #search-div input {
  width: 300px;
  height: 30px;
  text-align: center;
  border: 1px inset black;
}
#Stats #search-div button {
  height: 30px;
  width: 80px;
  border: 1px solid black;
  margin: 2px;
}
#Stats #stat-div {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
#Stats #stat-div #stat-box {
  width: 280px;
  min-height: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#Stats #stat-div #stat-box h3 {
  width: 100%;
}
#Stats #stat-div #stat-box h4 {
  width: 50%;
}

#loadouts-div {
  color: white;
  max-width: 100vw;
  min-height: 10vh;
  border: 1px solid white;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

h4 {
  margin: 0;
}

#nav {
  height: 5vh;
}

/*# sourceMappingURL=app.css.map */
