#login {
  background-image: url("https://i.imgur.com/vIlw1gw.jpg");
  background-size: contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
#login h2 {
  margin: 5px;
}
#login h3 {
  margin: 5px;
}
#login input {
  text-align: center;
  background: darkslategray;
  color: whitesmoke;
  border: none;
  height: 20px;
}
#login #login-box {
  background: rgba(20, 20, 20, 0.8);
  border: 1px solid #910000;
  min-height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}
#login button {
  height: 3vh;
  width: 10vw;
  text-align: center;
  text-transform: uppercase;
  background: #910000;
  color: whitesmoke;
  border: none;
  margin-bottom: 10px;
}

#register {
  background-image: url("https://i.imgur.com/vIlw1gw.jpg");
  background-size: contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
#register section {
  background: red;
}

#dashboard {
  height: 100vh;
  width: 100vw;
  background: darkslategray;
}
#dashboard #characters {
  height: 30vh;
  width: 50vw;
  border: 1px solid black;
}
#dashboard #characters #emblem {
  height: 5vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 3px;
}
#dashboard #characters #char-equipment {
  height: 24vh;
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#dashboard #characters #equipment-box {
  height: 55px;
  width: 200px;
  border: 1px solid whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 150%;
}
#dashboard #characters #equipment-box #image-box {
  height: 50px;
  width: 50px;
  margin-left: 5px;
}
#dashboard #characters #equipment-box #image-box img {
  height: 100%;
  width: 100%;
}
#dashboard #characters #equipment-box h6 {
  margin: 0px 15px;
}

#Stats {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#Stats #kd-div {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 1px solid black;
  align-items: center;
}
#Stats #kd-div #kd-eff {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#Stats #kd-div #win-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#Stats #search-div {
  width: 100%;
  min-height: 15vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Stats #search-div input {
  width: 300px;
  height: 30px;
  text-align: center;
  border: 1px inset black;
}
#Stats #search-div button {
  height: 30px;
  width: 80px;
  border: 1px solid black;
  margin: 2px;
}
#Stats #stat-div {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
#Stats #stat-div #stat-box {
  width: 280px;
  min-height: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#Stats #stat-div #stat-box h3 {
  width: 100%;
}
#Stats #stat-div #stat-box h4 {
  width: 50%;
}

.App {
  text-align: center;
}

h4 {
  margin: 0;
}

/*# sourceMappingURL=app.css.map */
